body {
    font-family: 'Poiret One';
}

.titulo {
    font-family: 'Poiret One', cursive;
    font-weight: 1000;
    margin: 0 0 40px 0;
}

.texto {
    text-align: justify;
    display: block; 
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 30px;
}

.p{
    padding: 0px 30px; 
    margin: 0 0 20px 0;
}

.container {
    padding: 50px 50px; 
}

.press{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 30px; 
    position: relative; 
    z-index: 1;
}

.imagen-principal {
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    object-fit: cover;
    object-position: center -25px;
    border: 2px solid #cba613; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.imagen-grande {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
    object-position: center 0px;
    border: 2px solid #8f7408; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.imagen-pequena {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover;
    object-position: center 0px;
    border: 2px solid #594802; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.img-vic{
    object-position: center -40px; 
    font-size: 2rem; 
}

.img-enr{
    object-position: center -30px; 
    font-size: 1rem;
}
